# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
data/
.idea
Python

# OS / tools
.DS_Store
.idea/
.ipynb_checkpoints/
